<!--<div id="demo"><h2>This Page is a test Player 2.</h2></div>-->
<!--<button type="button" (click)="startStreams()"   >start streams</button>-->
<div id="body">
  <div id="container">
    <!-- Header -->
    <div id="header">
      EECS448 Project 4
    </div>
    <!-- Container for game and chatbox -->
    <div id="main">
      <!-- Game screen -->
      <div id="game">
        <canvas [hidden]="countDownTimer != 0" #gameCanvasLeft class="game-display" width="120" height="240"></canvas>
        <div>
          <h1 [hidden]="countDownTimer === 0" id="countdown">{{countDownTimer}}</h1>
        </div>
        <canvas [hidden]="countDownTimer != 0" #gameCanvasRight class="game-display" width="120" height="240"></canvas>
      </div>
      <!-- Chatbox -->
      <div id="chat">
        <div id="chat-messages">
          <div *ngFor="let message of messages" class="message"><strong>{{message.userName}}: </strong>{{message.message}}
          </div>
        </div>
        <div id="chat-entrybox">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <input id="send" name="message" type="text" placeholder="Enter a message here..." ngModel>
            <input id="sendBtn" value="sendBtn" type="submit">
          </form>
        </div>
      </div>
      <!-- Sidebar -->
      <div id="sidebar">
        <div class="sidebar-header">Player Select</div>
        <div *ngFor="let player of players" class="sidebar-item">
          <div class="player-name">{{player.name}}</div>
          <div *ngIf="player.ready" class="player-status"><img
            src="./assets/lobby-img/status-green.svg"> Ready
          </div>
          <div *ngIf="!player.ready" class="player-status"><img
            src="./assets/lobby-img/status-red.svg"> Not Ready
          </div>
          <div id="win-row">Wins: {{player.wins}} </div>
        </div>
        <div class="sidebar-header">Controls</div>
        <div class="sidebar-buttons">
          <input type="submit" value="New Game" (click)="newGame()">
          <input type="submit" value="Ready" (click)="setReady()">
          <input type="submit" value="Logout" (click)="gameLogOut()">
        </div>
      </div>
    </div>
  </div>
</div>
