<div id="body">
  <div id="container">
    <!-- Header -->
    <div id="header">
      EECS448 Project 4
    </div>
    <!-- Container for lobbies and chatbox -->
    <div id="main">
      <!-- Game screen -->
      <div id="lobby-menu">
        <div class="lobby-header">Game Lobbies</div>
        <div class="lobby-subheader">
          <div class="lobby-name">Name</div>
          <div class="lobby-header-status">Status</div>
        </div>
        <div id="lobbies">
          <div class="lobby">
            <div class="lobby-name">$host1's lobby</div>
            <div class="lobby-status"><img src="./assets/lobby-img/status-green.svg"> Open</div>
          </div>
          <div class="lobby">
            <div class="lobby-name">$host2's lobby</div>
            <div class="lobby-status"><img src="./assets/lobby-img/status-yellow.svg"> Full</div>
          </div>
          <div class="lobby">
            <div class="lobby-name">$host3's lobby</div>
            <div class="lobby-status"><img src="./assets/lobby-img/status-red.svg"> In-game</div>
          </div>
        </div>
      </div>
      <!-- Chatbox -->
      <div id="chat">
        <div id="chat-messages">
          <div *ngFor="let message of messages" class="message"><strong>{{message.userName}}: </strong>{{message.message}}
          </div>
        </div>
        <div id="chat-entrybox">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <input id="send" name="message" type="text" placeholder="Enter a message here..." ngModel>
            <input id="sendBtn" value="sendBtn" type="submit">
          </form>
        </div>
      </div>
      <!-- Sidebar -->
      <div id="sidebar">
        <div class="sidebar-header">Players</div>
        <div class="sidebar-subheader">
          <div class="player-name">Name</div>
          <div class="player-header-status">Status</div>
        </div>
        <div id="players">
          <!--<div class="sidebar-item">-->
          <!--<div class="player-name">Player 1</div>-->
          <!--<div class="player-status"><img src="./assets/lobby-img/status-blue.svg"> Main lobby</div>-->
          <!--</div>-->
          <!--<div class="sidebar-item">-->
          <!--<div class="player-name">Player 2</div>-->
          <!--<div class="player-status"><img src="./assets/lobby-img/status-green.svg"> Joinable</div>-->
          <!--</div>-->
          <!--<div class="sidebar-item">-->
          <!--<div class="player-name">Player 3</div>-->
          <!--<div class="player-status"><img src="./assets/lobby-img/status-yellow.svg"> Full lobby</div>-->
          <!--</div>-->
          <!--<div class="sidebar-item">-->
          <!--<div class="player-name">Player 4</div>-->
          <!--<div class="player-status"><img src="./assets/lobby-img/status-red.svg"> In-game</div>-->
          <!--</div>-->
          <div *ngFor="let user of users" class="sidebar-item" (click)="setSelectedPlayer(user)" [ngClass]="{'change-background': user.name === selectedPlayer}">
            <div class="player-name">{{user.name}}</div>
            <div *ngIf="user.status === 'LOBBY'" class="player-status"><img src="./assets/lobby-img/status-blue.svg">
              Main lobby
            </div>
            <div *ngIf="user.status === 'JOINABLE'" class="player-status"><img
              src="./assets/lobby-img/status-green.svg"> Joinable
            </div>
            <div *ngIf="user.status === 'IN-GAME'" class="player-status"><img src="./assets/lobby-img/status-red.svg">
              In-game
            </div>
          </div>
        </div>
      </div>
      <div id="sidebar-buttons">
        <input *ngIf="joinableGame" id="joinGameBtn" type="submit" value="Join Game" [routerLink]="['/game']">
        <input id="createGameBtn" type="submit" value="Create Game" (click)="createGame()">
        <input id="logoutBtn" type="reset" value="Log out" (click)="logOff()">
      </div>
    </div>
  </div>
</div>
